@import '../../../../../dist/scss/variables.scss';


h1 {
    width: 100%;
    padding: 15px 0;
    border-radius: 15px;

    text-align: center;
    font-size: 18px;
    color: $secondary-text-color;

    background-color: $tertiary-background-color;
}